.button-row {
    display: flex !important;
    margin:auto !important;
    justify-content: space-around !important;
    position:relative !important;
  }

  .my-button {
    position: relative !important;
    left: 0 !important;
    top:0 !important;
  }

  .bk-container {
    margin: auto !important;
  }

  .graph-container{
      display: flex;
      flex-direction: column;
      align-items: center;
  }